{% extends "../base.html" %}
{% load static %}

{% block additional_head %}
{% endblock %}


{% block main_content %}
<div class="container text-center lblue-bg-color">
    <form method="post">
        {% csrf_token %}
        <img src={% static "img/cascoda.png" %} width="75" height="75" class="rounded-circle mb-4" alt="Cascoda">
        <h1 class="h3 mb-3 font-weight-normal white-t-color">Please sign in</h1>
        {% for field in form %}
        <div class="form-group d-md-flex justify-content-center">
            <label class="white-t-color">{{ field.label }}</label>
            <div class="px-md-3">
                {{ field }}
                {% if field.errors %}
                <br>
                <p class="text-danger">
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="container d-md-flex justify-content-center">
            <button type="submit" class="btn blue-bg-color white-t-color btn-md btn-block w-50">Login</button>
        </div>
    </form>
</div>
{% endblock %}
