{% extends "../base.html" %}
{% load static %}

{% block main_content %}
<div class="container dashboard-container text-center center-div">
    <form method="post">
        {% csrf_token %}
        <img src={% static "img/cascoda.png" %} width="75" height="75" class="rounded-circle mb-4" alt="Cascoda">
        <h1>Register to Cascoda Demo</h1>
        {% for field in form %}
        <div class="form-group d-flex justify-content-between row m-0">
            <label class="col-5 p-2">{{ field.label }}</label>
            <div class="col-7 p-2">
                {{ field }}
                {% if field.errors %}
                <p class="text-danger">
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </div>
    </form>
</div>
{% endblock %}