body {
	padding-top: 66px;
	background-color: #80aff7;
	height: 100vh;
	max-height: 100vh;  
}

.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 25px;
}

.no-pad-h {
	padding: 0;
}

.cas-cont {
	height: calc(100% - 25px);
}

.card-f-header {
	padding-left: 15px;
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.card-t-detail {
	max-height: 100%;
	overflow-y: auto;
}

.opac {
	opacity: 0;
}

.wh-bl-bg-color {
	background-color: #d3e4ff;
}

.lh-bl-bg-color {
	background-color: #b2d0ff;
}

.bl-bg-color {
	background-color: #80aff7;
}

.lg-bg-color {
	background-color: #b4e1db;
}

.dg-bg-color {
	background-color: #77dfd1;
}

.col-left {
	float: left;
	width: 40%;

}

.col-container {
	float: left;
	width: 60%;
}

.col-center {
	float: left;
	width: 60%;
}

.col-right {
	float: left;
	width: 40%;
}

.col-full {
	float: left;
	width: 100%;
}

.fl-left {
	float: left;
}

.fl-right {
	float: right;
}

.half-height {
	height: 50%;
}

.t-s {
	text-align: start;
}

.p-t-color {
	color: #451f9e;
}

.card-h-font {
	font-weight: bold;
	font-size: 20px;
	font-family: Tahoma, Geneva, sans-serif;

}

.info-font {
	font-weight: bold;
	font-size: 16px;
	align-self: center;
	font-family: "Courier New", Courier, monospace;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 3px;
}

circle {
  fill: steelblue;
}