.axis {
	fill: none;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.grid line {
	stroke: lightgrey;
	stroke-opacity: 0.7;
	shape-rendering: crispEdges;
}

.grid path {
	stroke-width: 0;
}

circle, .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 6px;
}

circle {
  fill: steelblue;
}

.tooltip {
	background-color: #77dfd1;
	color: #451f9e; 
	padding: 10px;
	margin-left: 20px;
}

.chart-line {
	fill: none;
	stroke: steelblue;
	stroke-width: 3px;
}

.th-line {
	fill: none;
	stroke: red;
	stroke-width: 3px;
}
