{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Cascoda - Open Thread - Demo">
    <meta name="author" content="Andrei Alexandru">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href={% static "third_party/bootstrap/css/bootstrap.css" %}>

    <!-- Custom Style -->
    <link rel="stylesheet" href={% static "css/casiot.css" %}>
    {% block additional_head %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark dark-bg-color">
        <a class="navbar-brand" href="https://www.cascoda.com/">
            <img src={% static "img/cascoda.png" %} width="40" height="40" class="rounded-circle" alt="Cascoda">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navTabs" aria-controls="navTabs" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navTabs">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item px-md-3">
                    <a class="nav-link font-weight-bold" href="/">Home</a>
                </li>
                <li class="nav-item px-md-3">
                    <a class="nav-link font-weight-bold" href="/devices/">Devices</a>
                </li>
                <li class="nav-item px-md-3">
                    <a class="nav-link font-weight-bold" href="#">Documentation</a>
                </li>
                <li class="nav-item px-md-3">
                    <a class="nav-link font-weight-bold" href="#">Contact</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item px-md-3">
                    <a class="nav-link" href="/logout/">Logout</a>
                </li>
                {% else %}
                <li class="nav-item px-md-3">
                    <a class="nav-link" href="/register/">Signup</a>
                </li>
                <li class="nav-item px-md-3">
                    <a class="nav-link" href="/login/">Login</a>
                </li>
                {% endif %}
            </ul>
            {% if request.user.is_authenticated %}
            <span class="navbar-text justify-content-end pr-md-5">Hi {{request.user}}!</span>
            {% endif %}
        </div>
    </nav>
    <!-- Main Content -->
    {% block main_content %}
    {% endblock %}

    <!-- Footer Content -->
    <footer class="footer">
        <hr class="border-light">
        <div class="container text-center">
            <span class="text-white">&copy; <a class="text-white" href="https://www.cascoda.com/">CASCODA LTD.</a> 2018</span>
        </div> 
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src={% static "third_party/bootstrap/js/jquery-3.3.1.min.js" %}></script>
    <script src={% static "third_party/bootstrap/js/popper.min.js" %}></script>
    <script src={% static "third_party/bootstrap/js/bootstrap.min.js" %}></script>

    <!-- Additional JavaScript -->
    {% block additional_js %}
    {% endblock %}
</body>
</html>
